
form button {
    margin-left: 10px;
    height: 30px;
    width: 80px;
}

button:hover {
  background-color: #cf1b1b;
  border: #cf1b1b;
  color: white;
  font-weight: bold;
}

form {
    margin-bottom: 30px;
}

form input {
    width: 235px;
    height: 25px;
}