@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

form button {
    margin-left: 10px;
    height: 30px;
    width: 80px;
}

button:hover {
  background-color: #cf1b1b;
  border: #cf1b1b;
  color: white;
  font-weight: bold;
}

form {
    margin-bottom: 30px;
}

form input {
    width: 200px;
    height: 25px;
}

.form-container p {
    font-size: 11px;
    padding: 0px 20px;
}

.form-container h1 {
    padding: 20px 20px 0px 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.02em;
}

.form-container h3 {
    margin: 0;
    padding: 0px 10px;
    font-size: 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

@media (min-width: 768px) {
    .form-container h1 {
    padding: 20px 20px 0px 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.02em;
    font-size: 32px;
} 

form input {
    width: 320px;
    height: 25px;
}

}

@media (min-width: 1024px) {
   
.form-container h1 {
    padding: 20px 20px 0px 20px;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.02em;
    font-size: 36px;
} 

form input {
    width: 320px;
    height: 25px;
}

}